
.linea-footer {
    margin: 1rem auto 1rem auto;
    border-top: 1px solid var(--azul);
    width: 90%;
    border-bottom: 1px solid var(--azul);
}

#footer-title {
    margin-top: 16px;
    font-variant-caps: all-small-caps;
    font-size: 40px;
}

#footer-button {
    width: 50%;
    background-color: var(--rosa);
    color: var(--azul);
    border-radius: 45px;
    margin-top: 16px;
    padding: 8px;
    font-size: 16px ;
    font-style: bold;
    font-weight: 700;
    border: none;

}

.footer-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}



.enlaces {
    width: 100%;
}

.enlaces-local {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.enlace-local {
    text-decoration: none;
    color: var(--azul);

}
.footer-copyright {
    float: right;
    font-size: small;
    margin-bottom: 1rem;
}

.icon-local {
    width: 4%;
}

@media only screen and (max-width: 768px) {

    /* Agrega aquí tus estilos para tabletas */
    .icon-local {
        width: 20px;
    }

}